footer {
    background-image: url('https://preview.colorlib.com/theme/ecohosting/assets/img/gallery/footer-bg.png.webp');
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-icons a img {
    width: 15px;
    height: 15px;
}


.footer-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-left: 150px;
    align-items: baseline;
}

.footer-item {
    font-size: 16px;
    color: #C2C5db;
    line-height: 20px;
    width: 40%;
    margin-top: 25px;
}

.footer-item p {
    color: #C2C5DB;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

.email-btn, .subscribe-btn{
    background-color: transparent;
    width: 50%;
    height: 40px;
    border: 1px solid #695CAE;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 25px;
}

.subscribe-btn {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
}

.footer-items {
    color: white;
    width: 20%;
}

.footer-items h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-items p {
    line-height: 32px;
    color: #C2C5DB;
}

.footer-icons a img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
}

.footer-icons {
    margin-top: 50px;
}

.footer-icons a {
    margin-right: 10px;
}

footer > p {
    color: #C2C5DB;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}