header {
    display: flex;
    background-color: #2D0A31;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo-div {
    width: 30%;
}

.nav-div {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-div a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.rose-btn {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 30px;
}