.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2D0A31;
    height: 100vh;
    padding-bottom: 50px;
}

.main-txt-part {
    width: 45%;
    margin-left: 150px;
}

.main-img-part {
    width: 45%;
    padding-top: 10%;
}

.main-p1 {
    color: #9F78ff;
    font-size: 16px;
}

.main-h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin: 30px auto;
}

.main-p2 {
    color: #A5A7C5;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.main-txt-part .rose-btn {
    font-size: 16px;
}