.section-3 {
    background-color: #2D0A31;
    padding-bottom: 50px;
}

.h1-center {
    color: white;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.section-3-cards {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    margin-left: 150px;
}

.card-item {
    width: 33%;
    margin-top: 80px;
}

.card-item h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.card-item p {
    color: #a7a5c5;
    margin-top: 20px;
    line-height: 20px;
}