.section-4 {
    background: linear-gradient(5deg,white 50%, #2D0A31 50%);
    padding-top: 80px;
}

.p-center {
    text-align: center;
    width: 55%;
    color: #7a8290;
    line-height: 20px;
    font-size: 18px;
    margin: auto;
    margin-top: 30px;
}

.section-4-row {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    margin-top: 60px;
}

.tarif-card {
    background-color: white;
    width: 30%;
    text-align: center;
    padding-top: 40px;
    border-radius: 10px;
    padding-bottom: 40px;
    box-shadow: 0 8px 26px rgb(67 40 124 / 8%);
}

.tarif-card h1 {
    color: #2d0a31;
    font-weight: 700;
    font-size: 24px;
    margin: 20px; auto;
    font-family: 'Poppins', sans-serif;
}

.tarif-card p {
    color: #707181;
    font-size: 16px;
    margin: 20px; auto;
}

.tarif-card h1 span {
    color: #707181;
    font-size: 14px;
    font-weight: 500;
}

.tarif-card button {
    background-color: white;
    border: 1px solid #F067FF;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 16px;
    color: #F067FF;
}

.tarif-card button:hover {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    color: white;
    cursor: pointer;
}

.hr {
    color: #707181;
    opacity: 0.4;
}