.section-8 {
    background-color: #2D0A31;
    padding-bottom: 50px;
}

.container {
    width: 70%;
    padding-top: 50px;
    margin: auto;
}

.slider {
    background: #4C1E51;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.review {
    margin-bottom: 30px;
}

.review p {
    width: 80%;
    color: white;
    margin: auto;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.review div {
    display: flex;
    width: 28%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.review div span {
    color: grey;
    font-size: 14px;
}

.review > img {
    margin-top: -70px;
}

.button-prev, .button-next {
    background-color: white;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    margin-right: -20px;
}

.button-prev {
    margin-left: -20px;
}