.section-2 {
    display: flex;
    background-color: #2D0A31;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    height: 40vh;
}

.section2-search img{
    width: 40px;
}

.section-2-txt h2 {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.section-2-txt p {
    color: #a5a7c5;
    padding-top: 25px;
    line-height: 25px;
    font-size: 14px;
}

.section-2-txt {
    width: 30%;
    margin-left: 120px;
}

.section2-domain {
    width: 50%;
}

.section2-search input {
    border: none;
    height: 60px;
    width: 80%;
    outline: none;
    font-size: 16px;
}

.section2-search {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section2-search button {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section2-search button img {
    width: 30px;
}

.div-p-span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 35px;
    width: 70%;
    margin-left: 18%;
    font-size: 16px;
}

.div-p-span p span {
    font-size: 20px;
    margin-right: 10px;
}

.red-span {
    color: red;
}

.yellow-span {
    color: yellow;
}

.green-span {
    color: green;
}

.purple-span {
    color: purple;
}
